@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shop.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <ul class="list-group">
            <li class="list-group-item active" aria-current="true">
                <a href="/products/index" class="btn btn-dark">Read products</a>
            </li>
        </ul>
        @if(User.Identity.IsAuthenticated)
        {
            <div class="d-flex justify-content-between">
                <div>
                    <a href="/" class="btn btn-primary">Home</a>
                    <a href="/html/add_order.html" class="btn btn-primary">Go to Order</a>
                </div>
                <div>
                    <span>Hello, @User.Identity.Name</span>
                    <form asp-action="Logout" asp-controller="User" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger">Exit</button>
                    </form>
                </div>
            </div>
        }
        else
        {
            <div>
                <a href="/" class="btn btn-primary">Home</a>
                <a href="/user/create" class="btn btn-primary">Register</a>
                <a href="/user/login" class="btn btn-primary">Auth</a>
            </div>
        }

        @if(User.IsInRole("admin"))
        {
            <a href="/user/CreateRole" class="btn btn-primary">CreateRole</a>
            <a href="/user/AddRole" class="btn btn-primary">[AssignRole]</a>
            <a href="/user/AssignRole" class="btn btn-primary">AssignRole</a>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2024 - Shop_app
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
